 .window {
   width: 300px;
   height: 327px;
   top: 70px;
   left: 50px;
   border: 1px solid #555;
   position: absolute;
   overflow: hidden;
   background-color: #fff;
   z-index: 999;
 }

 .window.window-focused {
   z-index: 99999;
 }

 .window .bar {
   width: 100%;
   height: 27px;
   line-height: 27px;
   background-color: #744;
   position: relative;
   z-index: 4;
 }

 .window .bar:hover {
   cursor: pointer;
 }

 .window.content-blocked:after { /* fix content iframe drag down */
    content: 'ff';
    position: absolute;
    color: transparent;
    left: 0;
    top: 27px;
    width: 100%;
    height: 100%;
    background-color: #555;
    opacity: .2;
    z-index: 99999;

 }

 .window .content {
   width: 100%;
   height: 100%;
   left: 0;
   border: 1px solid #500;
   position: absolute;
   z-index: 3;
   top: 0;
   padding: 27px 5px 5px 5px;
 }

 .window .iframe-content {
   /* margin-top: 21px; */
   width: 98%;
   height: 89%;
   border: none;
 }

 .window  .bar .title {
   display: inline-block;
   color: #fff;
   margin-left: 7px;
 }

 .window  .bar .window-buttons {
   float: right;
   margin-right: 11px;
   margin-top: 3px;
 }

 .window-button {
   color: #fff;
   font-family: helvetica, sans-serif;
 }

 .minimize-button,
 .maximize-button,
 .restore-button,
 .close-button {
   display: inline-block;
   width: 21px;
   height:21px;
   background-size: 100% !important;
 }

 .minimize-button {
   background: url("../img/minimize-icon.png");
 }

 .maximize-button {
   background: url("../img/maximize-icon.png");
 }

 .restore-button {
   background: url("../img/restore-icon.png");
 }

 .close-button {
   background: url("../img/close-icon.png");
 }

 .window-overlay {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 99998;
   width: 100%;
   height: 100%;
   background-color: #000;
   opacity: .7;
 }

 .window-movement-overlay {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 99998;
   width: 100%;
   height: 100%;
   background-color: transparent;
 }